<!doctype html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <title>Calculadora de Eficiência - Luzes</title>
</head>
<body>
  <header class="header">
    <div class="header__text">
      <h1>Calcule a eficiência energética da sua casa!</h1>
      <p>Seja proativo e resolva o problema do consumo excessivo de energia!</p>
    </div>
  </header>
  <main>
    <h2 class="main__title">Selecione quantas luminárias existem na sua casa:</h2>
    <ul class="list" id="list">
      
      <!-- Opção 1: 4 lâmpadas -->
      <li class="list__item">
        <a href="/{{ size }}/4"> 
          <img class="item__img" src="{{ url_for('static', filename='img/light.svg') }}" alt="light">
          <span>2-4 lâmpadas</span>
        </a>
      </li>

      <!-- Opção 2: 6 lâmpadas -->
      <li class="list__item">
        <a href="/{{ size }}/6"> 
          <img class="item__img" src="{{ url_for('static', filename='img/light.svg') }}" alt="light">
          <span>4-6 lâmpadas</span>
        </a>
      </li>

      <!-- Opção 3: 10 lâmpadas -->
      <li class="list__item">
        <a href="/{{ size }}/10">
          <img class="item__img" src="{{ url_for('static', filename='img/light.svg') }}" alt="light">
          <span>8+ lâmpadas</span>
        </a>
      </li>

    </ul>
  </main>
</body>
</html>
